[Unit]
Description=KDE Screen Dimmer
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/kdedimmer
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
